{% extends "authenticate.html" %}
{% from "macros.html" import displayField %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <form action="{{ url_for('signin') }}" method="POST" novalidate>

        {{ displayField(form.username, "Username", autocomplete="off") }}
        {{ displayField(form.email, "Email") }}
        {{ displayField(form.password, "Password") }}
        {{ displayField(form.confirm_password, "Re-enter password") }}

        {{ form.submit_button() }}
        {{ form.csrf_token }}
    </form>
{% endblock %}